body{
    margin-left: 10%;
    margin-right: 10%;
}
.image{
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.homeImg{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
}