body{
    background-color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
}
.image{
    display: block;
    height: 300px;
    margin-right: 10px;
}
.homeImg{
    display: flex;
    justify-content: space-around;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
}